
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layoutnull.cshtml";
}
 
 @model  MoneerProject.Models.Entity.Users
  

@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>تسجيل حساب</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true) 
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Name)</td>
                <td>@Html.TextBoxFor(a => a.Name)</td>
                <td>@Html.ValidationMessageFor(a => a.Name)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr> 
                <td>
                     <input class="btn btn-primary" type="submit" value="تسجيل حساب" />
                </td> 
            </tr>
        </table>
    </fieldset>
}
